#quote-box {
  border-radius: 3px;
  position: relative;
  margin: 8% auto 8% auto;
  width: 70%;
  max-width: 400px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  border: grey solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
}

i {
  font-size: 20px !important;
  margin-right: 0.4em;
}

#author {
  text-align: right;
  padding: 10px;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  background-color: coral;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.2rem !important;
  }
}
